<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminDashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminDashboard.styles.css" asp-append-version="true" />
</head>
<body>
    @* @if (User.Identity.IsAuthenticated) *@
    @* { *@
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">AdminDashboard</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Categories/All">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Projects/All">Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Skills/All">Skills</a>
                            </li>
                            <li>
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </header>
    @* } *@
    
     <div class="container"> 
         <main role="main" class="pb-3"> 
             @RenderBody() 
         </main> 
     </div> 

     @* <footer class="border-top footer text-muted">  *@
     @*     <div class="container">  *@
     @*         &copy; 2025 - AdminDashboard - <a asp-area="" asp-page="/Privacy">Privacy</a>  *@
     @*     </div>  *@
     @* </footer>  *@

    @* <div class="container-fluid">
    @*     <div class="row"> *@
    @*         <!-- Sidebar --> *@
    @*         <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse"> *@
    @*             <div class="position-sticky"> *@
    @*                 <h2 class="text-white">Side</h2> *@
    @*                 <ul class="nav flex-column"> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link active text-white" href="/">Home</a> *@
    @*                     </li> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link text-white" asp-area="" asp-page="/Projects/All">Projects</a> *@
    @*                     </li> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link text-white" asp-area="" asp-page="/Categories/All">Categories</a> *@
    @*                     </li> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link text-white" asp-area="" asp-page="/Skills/All">Skills</a> *@
    @*                     </li> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link text-white" asp-area="" asp-page="/Contact_Entries/All">Subbmissions</a> *@
    @*                     </li> *@
    @*                     <li class="nav-item"> *@
    @*                         <a class="nav-link text-white" asp-area="" asp-page="/Users/All">Users</a> *@
    @*                     </li> *@
    @*                 </ul> *@
    @*                 <partial name="_LoginPartial" /> *@
    @*             </div> *@
    @*         </nav> *@

    @*         <nav class="navbar navbar-dark bg-dark d-md-none"> *@
    @*             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation"> *@
    @*                 <span class="navbar-toggler-icon"></span> *@
    @*             </button> *@
    @*             <span class="navbar-brand mb-0 h1">My Application</span> *@
    @*         </nav> *@

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                @RenderBody()
            </main>
    @*     </div> *@
    @* </div> *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>